.wrapper {
    width: 300px;
    margin: 20px auto;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
}
#screen {
    margin-bottom: 10px;
}
.btn-group {
    width: 100%;
    padding-bottom: 4px;
}